.navbar-brand, .fixed-top {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.logo {
    color: #87ceeb;
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 50px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.search-field {
    width: 60%;
    height: 5vh;
    border: 1px solid #a0aab8;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    background-color: #343a40;
    color: #a0aab8;
    padding-left: 10px;
}

.search-field::placeholder {
    color: #a0aab8;
}

.search-button {
    width: 20%;
    height: 5vh;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #87ceeb;
    border: 1px solid #87ceeb;
    color: #343a40;
    transition: 0.4s;
}

.search-button:hover {
    background-color: #343a40;
    color: #87ceeb;
    transition: 0.4s;
    cursor: pointer;
}

.links, .submenu-link {
    display: flex!important;
    align-items: center;
    color: #87ceeb!important;
    margin: 0 5px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

.links:before, .submenu-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #87ceeb;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

.links:hover:before, .submenu-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.submenu-link {
    margin: 0;
    font-size: 15px;
    font-weight: 600!important;
    position: relative!important;
}

.submenu-link:focus {
    background-color: #343a40!important;
}

.dropdown-menu {
    background-color: #343a40!important;
    border: 1px solid #131313!important;
}

.dropdown-item:hover {
    background-color: #343a40!important;
}

.divisor {
    border-right: 1px solid #87ceeb;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    color: #87ceeb;
    font-size: 20px;
    padding-left: 15px;
    cursor: pointer;
}

.icon:hover {
    color: #fff;
    transition: 0.4s;
}

.hamburguer {
    color: #87ceeb;
}

body {
    background-color: #cccccc!important;
}

section {
    margin-top: 4%;
}

/***CAROUSEL***/
.carousel-image {
    width: 100%;
    opacity: 0.8;
    max-height: 1080px;
}

.carousel-text {
    color: #fff;
    text-shadow: 3px 3px #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 34px;
}

.carousel-button {
    color: #fff;
    text-shadow: 3px 3px #000;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 50px;
    border: 2px solid #fff;
}

.carousel-button:hover {
    cursor: pointer;
}

.card {
    background-color: #cccccc!important;
    margin: 30px 0;
    transition: 0.4s;
}

.card:hover {
    box-shadow: 0 0 10px 0 #a0aab8;
    transform: scale(1.04);
    transition: 0.4s;
    cursor: pointer;
}

.card-img {
    margin-top: 25px;
    transition: 0.4s;
}

.product-name {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: #4b4b4b;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 20px;
}

.product-name:hover {
    text-decoration: underline;
    color: #8b8b8b;
    transition: 0.4s;
}

.product-price {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: #4b4b4b;
    margin-left: 10px;
}

.product-button {
    text-align: center;
}

.add-button {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #0d7eaa;
    background-color: #cccccc;
    color: #0d7eaa;
    margin-bottom: 25px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.add-button:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #0d7eaa;
    z-index: -1;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.add-button:hover {
    color: #dddddd;
}

.add-button:hover:after {
    width: 110%;
}

label {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

input {
    background-color: #cccccc;
    border: 1px solid #131313;
    border-radius: 5px;
    padding-left: 5px;   
}

input::placeholder{
    color: #131313;
}

input:focus-visible {
    outline: none;
    box-shadow: 1px 1px 5px #131313;
}

#name, #email {
    width: 25%;
}

#rua, #cidade {
    width: 80%;
}

.form-button {
    width: 8%;
    color: #131313;
    border: 1px solid #131313;
    border-radius: 5px;
    font-weight: 500;
    padding: 8px;
    margin-top: 15px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #131313;
    color: #dddddd;
    transition: 0.4s;
}

footer {
    padding: 20px 0;
}

footer h3 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

footer hr {
    background-color: #dddddd;
}

footer p {
    color: #fff;
}

.list {
    display: flex;
    flex-direction: column;
}

.list-item {
    color: #87ceeb;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
    width: max-content;
}

.list-item:hover {
    color: #fff;
    transition: 0.4s;
}

.contact {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
}

.footer-icon {
    font-size: 22px;
    color: #87ceeb;
}

.number {
    font-size: 15px;
    color: #87ceeb;
    font-weight: 600;
    margin-left: 5px;
}

.social {
    display: flex;
    justify-content: space-between;
}

.midia {
    color: #87ceeb;
    font-size: 26px;
    margin: 0 5px;
}

.table thead th, .table td, table {
    border-top: 1px solid #4b4b4b;
    border-bottom: 1px solid #4b4b4b!important;
}

.table td {
    vertical-align: baseline!important;
}